body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1280px;
  background-color: #886f6f;
}

.converter {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.input-box {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.rgb-result {
  margin-top: 20px;
  font-size: 18px;
}

.error-message {
  color: white;
  background-color: red;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}